#Kůň {
    background-color: rgb(233, 11, 40);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Minecraft {
    background-color: rgb(30, 129, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Internet {
    background-color: rgb(24, 230, 41);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}